### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store


### Project ###
# your config will almost undoubtedly need to change eventually.
# it is important that you do not commit your config, because it could accidentally change someone else's.
# in light of this, an example config is offered instead, and changes to your *actual* config.json stay unique to you.
src/config/config.json
src/lan_switch/*.class
src/router/*.class
/.idea/codeStyles/codeStyleConfig.xml
